<header>
	<h1 class="header-title">Bookers</h1>
	<ul class="header-topic">
		<li>
			<%= link_to "Home", user_path(current_user) %>
		</li>
		<li>
			<%= link_to "User", users_path %>
		</li>
		<li>
			<%= link_to "Book", books_path %>
		</li>
		<li>
			<%= link_to 'logout', destroy_user_session_path, method: :delete %>
		</li>
	</ul>
</header>