<h1>User info</h1>
<table>
	<tr>
		<th class="side-title">name</th>
		<th class="side-text"><%= current_user.name %></th>
	</tr>
	<tr>
		<th class="side-title">introduction</th>
		<th class="side-text"><%= current_user.introduction %></th>
	</tr>
</table>