<%= render 'users/header' %>

<h1>Books</h1>
<table class="book-list">
	<tr>
		<th class="list-title">Title</th>
		<th class="list-title">Body</th>
		<th class="list-title"></th>
	</tr>
	<% @books.each do |book| %>
		<tr>
			<th class="list-text"><%= book.title %></th>
			<th class="list-text"><%= book.body %></th>
			<th class="list-text"><%= link_to "Show", book_path(book) %></th>
		</tr>
	<% end %>
</table>
